---
Checks: "clang-diagnostic-*,clang-analyzer-*,boost-*,bugprone-*,performance-*,portability-*,modernize-*,clang-analyzer-*,cppcoreguidelines-*,-modernize-use-trailing-return-type" # readability-*
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: none
