/build
.vscode
/.vs
out/
.cache
.idea
.DS_Store
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-relwithdebinfo-visual-studio/
CMakeFiles
sourcemap.json
trace.json
node_modules

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python venvs
.venv
