name: Verify Build

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    name: Build Server (${{matrix.os}})
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true

      - name: Build Tool
        run: |
          mkdir build && cd build
          cmake ..
          cmake --build . --target luau-lsp

  run_tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            test-path: ./build/Debug/luau-lsp-tests
          - os: ubuntu-latest
            test-path: ./build/luau-lsp-tests

    name: Run Tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true

      - name: Build Tests
        run: |
          mkdir build && cd build
          cmake ..
          cmake --build . --target luau-lsp-tests

      - name: Run Tests
        run: ${{ matrix.test-path }}

  lint_extension:
    name: Lint Extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm ci
        working-directory: editors/code
      - name: Run ESLint
        run: npm run lint
        working-directory: editors/code
      - name: Prettier
        run: npm run check:format
        working-directory: editors/code

  build_extension:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    name: Test Extension (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: npm install
        working-directory: editors/code
      - run: xvfb-run -a npm test
        working-directory: editors/code
        if: runner.os == 'Linux'
      - run: npm test
        working-directory: editors/code
        if: runner.os != 'Linux'
